.page {
  max-width: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-family: 'Pokemon Hollow', sans-serif;
}
h3{
  margin: 0;
  text-transform: capitalize;
}
