.pokedex{
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 columnas de igual tamaño */
  gap: 30px 10px; /* Espacio entre tarjetas */
  position: relative;
  z-index: 2;
  justify-items: center;
}