.home-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-image: url('/src/images/fondo3.png');
  width: 100%;
  background-repeat: no-repeat;
  text-align: center;
  font-family: 'Pokemon Solid';
}